header {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 24px 32px;
}

.logo {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: start;
    width: 240px;
    height: 105px;
    border-radius: 4%;
    background-color: transparent;
}

.curriculo {
    grid-column: 3;
    grid-row: 1;
    align-self: center;
    justify-self: end;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #000;
    border: solid 2px #000;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
}

.menu_botao {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    margin: 0;
    background-color: transparent;
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.menu {
    position: absolute;
    top: 95px;
    left: 50%;
    width: 300px;
    display: flex;
    flex-direction: column;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
    z-index: 5;
}

.menu.ativo {
    opacity: 1;
    visibility: visible;
}

.menu a {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 13px 0;
    border-bottom: 1px solid #ccc;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    transition:
     padding-left 0.2s ease,
     color 0.2s ease;
}

.menu a:first-child {
    border-top: 1px solid #ccc;
}

.menu a:hover {
    padding-left: 8px;
    color: #666;
}

.menu a span {
    color: #999;
    font-size: 11px;
}

.sobre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
    margin-top: 90px;
    padding-bottom: 100px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 100px;
}

h1 {
    grid-column: 1;
    font-size: 32px;
    font-weight: 500;
}
.sobre_texto {
    grid-column: 1;
}

.perfil {
    grid-column: 2;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}

.contato {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 40px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 80px;
}


.contato_titulo {
    grid-column: 1;
}


.contato_titulo span {
    font-size: 12px;
    letter-spacing: 2px;
    color: #777;
}


.contato_titulo h2 {
    margin-top: 25px;
    font-size: 32px;
    font-weight: 500;
}


.contato_links {
    grid-column: 2;
    display: flex;
    flex-direction: column;
}


.contato_item {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    padding: 22px 0;
    border-bottom: 1px solid #ddd;
    color: #000;
    text-decoration: none;
    transition: padding-left 0.25s ease;
}


.contato_item:first-child {
    border-top: 1px solid #ddd;
}


.contato_item:hover {
    padding-left: 10px;
}


.contato_item span {
    font-size: 11px;
    letter-spacing: 1.5px;
    color: #888;
}


.contato_item p {
    margin: 0;

    font-size: 16px;
}


footer {
    position: fixed;
    display: flex;
    bottom: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px 40px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    z-index: 10;
}

footer p {
    margin: 0;
    font-size: 12px;
    color: #777;
}